
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThinkSmarter | Research</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="css/match-stylesheet.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/chart.js"></script>

</head>
<body class="bg-black">

<div class="container text-center"> 
    <!--<img src="images/posters.png"/>-->
    <section class="h-100 gradient-form bg-transparent">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card bg-dark rounded-3 text-white" style="border: 1px solid white;">
                        <div class="row g-0">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="text-white">Hypothesis: Playing games will lead to improvement in critcial think skills, memorization skills and, decison making skills</p>
    <a href="/home" class="btn btn-outline-danger" style="width: 250px;">Return</a>
    <br/>
    <br/>
    <h3 class="text-white">Surveys Completed <%= data["total"]%></h3>
    <table class="table table-bordered bg-dark text-white">
        <thead>
          <tr>
            <th>Males</th>
            <th>Females</th>
            <th>Non-binary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="male"><%= data["male"]%></td>
            <td class="female"><%= data["female"]%></td>
            <td class="other"><%= data["non-binary"]%></td>
          </tr>

       
        </tbody>
      </table>
      <table class="table table-bordered bg-dark text-white">
        <thead>
          <tr>
            <th>Males</th>
            <th>Females</th>
            <th>Non-binary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= data['percentage']["male"]%> %</td>
            <td><%= data['percentage']["female"]%> %</td>
            <td><%= data['percentage']["non-binary"]%> %</td>
          </tr>

        </tbody>
      </table>
      <tr>

      </tr>
      <br/>
      <table class="table table-bordered bg-dark text-white">
        <thead>
          <tr>
            <th>Improvement to Critcal  Thinking</th>
            <th>Improvement to Memorization</th>
            <th>Decsion Making-Skills Improvement/th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="critical"><%= data["critical"]%></td>
            <td class="memory"><%= data["memory"]%></td>
            <td class="decide"><%= data["decision"]%></td>
          </tr>
        </tbody>
      </table>
      <p class="text-white">The results listed here on this page gives a breakdown of the number of surveys, the frequency of each classfication group non-binary,female and male.</p>
      <p class="text-white">These are the results gathered from the members of the ThinkSmarter Community</p>
      <p class="text-white">This page is provided and produced using Chart JS along EJS</p>




  <div class="container graphs row pr-5 text-center align-items-center">
       

</div>   

</div>


</body>
</html>
